h2{
    color: red;
}

div{
    background-color: rgb(82, 123, 123);
    color: indigo;
    padding: 13px;
    margin-bottom: 10px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;

}